.TAAcontainer{
  border-radius: 5px;
  width: 100%;
  margin: 40px;
  background-color: red;
}

.headerContainer{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap:10px;
}

.selection{
  width: 200px;
}

.itemContainer {
  border-radius: 5px;
  border-color:black;
  border-style: solid;
  margin-bottom: 20px;
}

.coreInfo {
  display: flex;
  gap: 10rem;
}

.contents {
  margin-top: 5px;
  font-size: 1.2rem;
}