.TAAcontainer{
  margin: 40px;
  padding: 40px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #EEEEEE;
}

.headerContainer{
  margin-left: 0;
  padding:0;
  display: flex;
}

.headerContainer .title{
  padding: 0;
  margin-left: 0;
  margin: 0;
  width:50%;
}

.headerContainer .right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  width:50%;
}
