.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px;
}

.top {
  display: flex;
  height: 250px;
  gap: 20px;
}

.profileCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
}

.middle {
  width: 100%;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  overflow: hidden;
}