.pageContainer {
  padding: 40px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #EEEEEE;
}
.photoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}
.photoBox img{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.infoContainer {
  margin-bottom: 20px;
}
.infoItem {
  min-width: 300px;
  height: 60px;
  background-color: #FAFAFA;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px
}
.infoItem span:nth-child(1) {
position: absolute;
top: 8px;
left: 8px;
color: #9E9E9E;
}

.workBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirmModal {
  padding: 50px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #EEEEEE;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
}
.modalBg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.editModal {
  width: 700px;
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.editModalBody {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.editModalBodyInput {
  width: 350px;
  margin: 20px
}
.editModalBodyInput div div {
  width: 100%;
  margin-bottom: 10px;
}
.modalBot{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/* .editModal input {
  width: 100%
} */
.uploadInput {
  display: none;
}
.InputLabel {
  width: 60px;
  height: 60px;
  height: 60px;
  background: #90a4ae;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}