.form-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.form-container .MuiFormControl-root,
.form-container .MuiTextField-root {
  width: 100%;
  margin-bottom: 20px;
}

.form-container .MuiFormControl-root .MuiSelect-root {
  width: 100%;
}