ul {
  margin: 0;
  padding: 0;
}
.sideBar {
  position: sticky;
  padding: 40px 24px;
  width: 260px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid #eeeeee;
}

.sideBar ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sideBar ul li {
  margin-bottom: 24px;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  color: #616161;
}

.sideBar ul li:last-child {
  margin-top: auto;
}

.sideBar ul .on {
  background: #fafafa;
  color: #212121;
  font-weight: 500;
}

.sideBar ul li > * {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoutBtn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: none;
}
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #212121;
}

button {
  padding: 0;
}
